## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt
import gmaps.datasets
import os


# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key='AIzaSyAvKnHAMbmlm26665V0lP6O5sJDqClG-c8')

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind,Country,Date
0,0,Vaini,-21.2000,-175.2000,86.16,79,75,11.50,TO,1645755901
1,1,North Las Vegas,36.1989,-115.1175,49.42,24,0,8.05,US,1645755775
2,2,Kapaa,22.0752,-159.3190,79.12,68,20,13.80,US,1645755902
3,3,Joshīmath,30.5667,79.5667,36.34,77,84,5.91,IN,1645755902
4,4,Camargo,27.6667,-105.1667,68.67,6,35,14.90,MX,1645755750

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 60

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind,Country,Date
1,1,North Las Vegas,36.1989,-115.1175,49.42,24,0,8.05,US,1645755775
12,12,Ushuaia,-54.8000,-68.3000,47.86,93,75,9.22,AR,1645755668
17,17,Punta Arenas,-53.1500,-70.9167,53.71,76,0,9.22,CL,1645755855
26,26,Ankang,32.6800,109.0172,51.48,45,69,0.51,CN,1645755912
37,37,Polis,35.0367,32.4264,53.42,91,90,8.46,CY,1645755916
38,38,Fortuna,40.5982,-124.1573,47.19,76,75,3.78,US,1645755916
42,42,Saint Paul Harbor,57.7900,-152.4072,42.31,87,100,18.41,US,1645755918
43,43,Haifa,32.8156,34.9892,53.20,93,49,1.01,IL,1645755919
55,55,Marsá Maţrūḩ,31.3525,27.2453,57.40,58,40,23.02,EG,1645755923
58,58,Los Llanos de Aridane,28.6585,-17.9182,58.75,77,0,11.50,ES,1645755924

In [5]:
# 4a. Determine if any value is empty

preferred_cities_df.count()

City_ID     113
City        113
Lat         113
Lng         113
Max Temp    113
Humidity    113
Clouds      113
Wind        113
Country     113
Date        113
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

# No empty rows. No action needed.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1         North Las Vegas      US     49.42  36.1989 -115.1175
12                Ushuaia      AR     47.86 -54.8000  -68.3000
17           Punta Arenas      CL     53.71 -53.1500  -70.9167
26                 Ankang      CN     51.48  32.6800  109.0172
37                  Polis      CY     53.42  35.0367   32.4264
38                Fortuna      US     47.19  40.5982 -124.1573
42      Saint Paul Harbor      US     42.31  57.7900 -152.4072
43                  Haifa      IL     53.20  32.8156   34.9892
55           Marsá Maţrūḩ      EG     57.40  31.3525   27.2453
58  Los Llanos de Aridane      ES     58.75  28.6585  -17.9182

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. Skipping.")

Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.

In [9]:
hotel_df.head(30)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,North Las Vegas,US,49.42,36.1989,-115.1175,Lucky Club Hotel & Casino
12,Ushuaia,AR,47.86,-54.8000,-68.3000,Albatross Hotel
17,Punta Arenas,CL,53.71,-53.1500,-70.9167,Hotel Hain
26,Ankang,CN,51.48,32.6800,109.0172,安琪酒店
37,Polis,CY,53.42,35.0367,32.4264,Marion
38,Fortuna,US,47.19,40.5982,-124.1573,Super 8 by Wyndham Fortuna
42,Saint Paul Harbor,US,42.31,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
43,Haifa,IL,53.20,32.8156,34.9892,Dan Panorama Haifa Hotel
55,Marsá Maţrūḩ,EG,57.40,31.3525,27.2453,Beau Site
58,Los Llanos de Aridane,ES,58.75,28.6585,-17.9182,Valle Aridane
80,Katsuura,JP,48.31,35.1333,140.3000,Katsuura Hotel Mikazuki
82,Northam,GB,45.61,51.0333,-4.2167,Durrant House Hotel
96,Giulianova,IT,50.99,42.7612,13.9537,Hotel Smeraldo
98,Seoul,KR,47.71,37.5683,126.9778,롯데호텔 서울
99,Cleethorpes,GB,41.97,53.5605,-0.0323,Comat Hotel
124,Talcahuano,CL,58.68,-36.7167,-73.1167,departamento comodo
125,Agadez,NE,56.73,19.7500,10.2500,
168,Jalu,LY,56.10,29.0331,21.5482,صاحبة الفخامة
171,Fiumicino,IT,51.78,41.7675,12.2291,Al Porticciolo Hotel
172,Constitución,CL,57.63,-35.3333,-72.4167,Hotel Boutique Las Azucenas
177,Saint George,US,42.64,37.1041,-113.5841,Best Western Plus Abbey Inn
182,Mahon,ES,46.96,39.8885,4.2658,ARTIEM Capri
187,Ribeira Grande,PT,58.39,38.5167,-28.7000,Quinta da Meia Eira
194,Licata,IT,46.54,37.1071,13.9461,Villa Giuliana
213,Rancho Palos Verdes,US,55.53,33.7445,-118.3870,Terranea Resort
220,Ancud,CL,57.42,-41.8697,-73.8203,Hotel Arena Gruesa
237,Laguna,US,53.89,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
239,San Patricio,US,44.46,28.0170,-97.5169,"Motel 6 Sinton, TX"
244,Kiryat Gat,IL,55.40,31.6100,34.7642,OlusHome
246,Margate,GB,40.75,51.3813,1.3862,Premier Inn Margate hotel

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,North Las Vegas,US,49.42,36.1989,-115.1175,Lucky Club Hotel & Casino
12,Ushuaia,AR,47.86,-54.8000,-68.3000,Albatross Hotel
17,Punta Arenas,CL,53.71,-53.1500,-70.9167,Hotel Hain
26,Ankang,CN,51.48,32.6800,109.0172,安琪酒店
37,Polis,CY,53.42,35.0367,32.4264,Marion
38,Fortuna,US,47.19,40.5982,-124.1573,Super 8 by Wyndham Fortuna
42,Saint Paul Harbor,US,42.31,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
43,Haifa,IL,53.20,32.8156,34.9892,Dan Panorama Haifa Hotel
55,Marsá Maţrūḩ,EG,57.40,31.3525,27.2453,Beau Site
58,Los Llanos de Aridane,ES,58.75,28.6585,-17.9182,Valle Aridane

In [11]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [14]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))